.circle {
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.content {
    margin: 10%;
}

/* Credit where it's due: https://codeburst.io/how-to-pure-css-pie-charts-w-css-variables-38287aea161e */

.clock {
    background-color: white;
    overflow: hidden;
    width: calc(var(--size, 200) * 1px);
    height: calc(var(--size, 200) * 1px);
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
}

.segment {
    border: 1px solid #000;
    overflow: hidden;
    height: 100%;
    width: 101%;
    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--offset, 0) * 1deg));
    transform-origin: 50% 100%;
    position: absolute;
    left: -1px;
    top: -1px;
}

.segment:before {
    background-color: var(--bg, #fff);
    content: '';
    height: 99%;
    position: absolute;
    transform: translate(0, 100%) rotate(calc(var(--value, 45) * 1deg));
    transform-origin: 50% 0;
    width: 100%;
    border: 1px solid black;
}